<h1 class="page-header"><%= work.title %></h1>

<!-- Button to trigger modal -->
<div class="pull-right span5 " > 
  <a href="#main_thumb_popup" role="button" class="thumbnail pull-right work_main_thumbnail" data-toggle="modal">
    <img src="<%= work.image_url('640') %>" class="span5" alt=""/>
  </a>
  <% if work.images_with_aspects[0]['img_aspect'] %>
    <h5 class="pull-right"><%= work.images_with_aspects[0]['img_aspect'] %></h5>
  <% end %>
</div>

<p class="lead"><%= work.slug %></p>
<% if work.date %><p><span class="muted">Date:</span> <%= work.date %></p><% end %>
<% if work.media.size > 0 %><p><span class="muted">Media:</span> <%= work.media.join(", ") %></p><% end %>
<% if work.format %><p><span class="muted">Format:</span> <%= work.format %></p><% end %>

<hr />

<!-- Modal -->
<div id="main_thumb_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="popup_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="popup_label"><%= work.title %><% if work.images_with_aspects[0]['img_aspect'] %>: <%= work.images_with_aspects[0]['img_aspect'] %><% end %> </h5>
  </div>
  <div class="modal-body">
    <img src="<%= work.image_url('640') %>" class="ajb-img-work-popup" alt="" />
  </div>
  <div class="modal-footer">
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
  </div>
</div>

<% work.notes.each do |p| %>
  <p><%= p %></p>
<% end %>

<hr />

<% work_sub_images = work.images_with_aspects[1..-1] %>

<% if work_sub_images.size > 0 %>
<div class="row span9">
  <h5>Further Images</h5>
</div>
<% end %>

<% counter = 1%>
<% work_sub_images.each_slice(4) do |r| # breaks into rows %>
  <div class="row span9">
    <ul class="thumbnails">
      <% r.each do |img| # row cells %>
        <li class="span2">
            <a href="#thumb_popup<%= '-' << counter.to_s %>" role="button" class="thumbnail" data-toggle="modal">
              <img src="/img/260x260/<%= img['img_filename'] %>" />
            </a>
            <h6 class="thumb-label"><%= img['img_aspect'] %></h6>
        </li>
      <% counter = counter + 1%>
      <% end %>
    </div>
  </ul>
<% end %>

<!-- Modals -->
<% counter = 1 %>
<% work_sub_images.each do |w| %>
  <div id="thumb_popup<%= '-' << counter.to_s %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="popup_label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h5 id="popup_label"><%= work.title %>: <%= w['img_aspect'] %></h5>
    </div>
    <div class="modal-body">
      <img src="/img/640x640/<%= w['img_filename'] %>" class="ajb-img-work-popup" alt="" />
    </div>
    <div class="modal-footer">
      <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
    </div>
  </div>
  <% counter = counter + 1%>
<% end %>